@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

.form-container {
    font-family: 'Poppins', sans-serif;
    display: flex;
    width: 100%;
    margin-top: 50px;
    flex-direction: column;

    h1 {
        width: 50vw;
    }

    input {
        display: flex;
        height: 20px;
        padding: 7px;
        margin: 15px 5px;
        font-family: 'Poppins', sans-serif;
        caret-color: antiquewhite;
    }
}

.experience-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.experience-header{
    display: flex;
    justify-content: center;

    img{
        width: 30px;
        height: 30px;
        align-self: center;
        vertical-align: middle;
        margin-left: 10px;
        cursor: pointer;
    }
}