@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

.form-container {
    font-family: 'Poppins', sans-serif;
    display: flex;
    width: 100%;
    margin-top: 50px;
    flex-direction: column;

    hr {
        height: 1px;
        width: 20%;
        background-color: rgb(182, 182, 182);
        margin: 40px auto;
        filter: drop-shadow(0 0 1.75rem rgb(0, 0, 0));
    }


    h1 {
        align-self: center;
        width: 50vw;
        margin-right: 20px;
    }

    input {
        display: flex;
        width: 50vw;
        height: 20px;
        padding: 7px;
        margin: 15px 5px;
        font-family: 'Poppins', sans-serif;
        caret-color: antiquewhite;
    }
}

div {
    background-color: white;
    margin: 0 auto;
}


