@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

.form-container {
    font-family: 'Poppins', sans-serif;
    display: flex;
    width: 100%;
    margin-top: 50px;
    flex-direction: column;

    h1 {
        align-self: center;
        width: 50vw;
        margin-right: 20px;
    }

    input {
        display: flex;

        height: 20px;
        padding: 7px;
        margin: 15px 5px;
        font-family: 'Poppins', sans-serif;
        caret-color: antiquewhite;
    }

    span.plus-sign {
        align-self: center;
        width: 25px;
        cursor: pointer;
        display: flex;

        img{
            width: 25px;
        }

    }
}

form {
    background-color: white;
    margin: 0 auto;
}

li {
    display: flex;

    button {
        height: 30px;
        align-self: center;
        padding: 7px;
        text-align: center;
        vertical-align: center;
        cursor: pointer;
    }
}


.skills-form {
    input {
        width: 46vw;
    }
}